
*, ::after, ::before {
    box-sizing: border-box;
}
.login-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-left: calc(var(--bs-gutter-x) / -2);
}
.login-row>* {
    flex-shrink: 0;

    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}
.login-form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* max-width: 600px; */

}
.login-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
.login-card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.login-card-header {
    color: #000000;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}
.mgl{
    margin: auto;
}

.login-form-group {
    margin-bottom: 15px;
    
}

.login-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.login-form-group input {
    width: 97%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}

/* File input styling */
.login-form-group input[type="file"] {
    padding: 5px;
    font-size: 14px;
}
.login-form-control{
    padding-right: 0px;
}

/* Button styling */
.btn-primarylogin {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    background-color: #1f2123;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-primarylogin:hover {
    background-color: #f35525;
}
.login-mgt{
    margin-top: 200px;
}
.btn-md {
    padding: 12px 20px;
    font-size: 16px;
}

.bg-dark {
    background-color: #343a40;
}

.text-light {
    color: #f8f9fa;
}

.full-width {
    width: 100%;
}

.fs-md {
    font-size: 16px;
}

.ft-medium {
    font-weight: 500;
}

/* Links styling */
/* a {
    color: #007bff;
    text-decoration: none;
} */

a:hover {
    text-decoration: underline;
}
.col-md-6 {
    flex: 0 0 auto;
    /* width: 50%; */
}

/* Responsive for smaller screens */    
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .login-form {
        max-width: 100%;
    }
    .login-mgt{
        margin-top: 100px;
    }
}
